<div class="contact-list">
  <div *ngFor="let contact of contacts">
    <div class="contact-item"
      [class.contact-item-selected]="contact===selectedContact"
      (click)="selectContact($event, contact)"
    >
      <p class="contact-name">
        {{contact.name | uppercase}}

      </p>
      <p class="contact-title">
        {{contact.company}}
      </p>

      <div *ngIf="contact.tags !==''">
        <button *ngFor="let tag of contact.tags.split(',')" class="tag-item">
          {{mapTag[tag] ? mapTag[tag].name : tag}}
        </button>

      </div>

      <div class="tagv-btn">
        <button (click)="popupTag($event, contact)">
          TAGS V
        </button>
        <div class="tag-popup" *ngIf="contact.isPopup">
          <app-contact-tags [contact]="contact" [tags]="tags"></app-contact-tags>
        </div>
      </div>
    </div>


  </div>
</div>


