.tag-item {
  margin-right:10px;
}
.contact-name {
  font-weight: bold;
}
.contact-item {
  padding:20px;
  position:relative;
  display: block;
}

.contact-item:hover {
  cursor: pointer;
}

.contact-item:nth-child(odd) {
  background-color:#f4f4f5;
}

.tagv-btn {
  position: absolute;
  top:25%;
  right:5%;

}
.tagv-btn button {
  background-color:#dcecf1;
}
.contact-item-selected {
  background-color:#cbd6d8 !important;
  border: 1px solid gray;
}
.contact-list {
  float:left;
  width: 69%;
  border:1px solid gray;
}

