<div class="contact-list">
  <div *ngFor="let contact of contacts"
       class="contact-item"
       [class.contact-item-selected]="contact===selectedContact"
  >

    <a (click)="selectContact($event, contact)" routerLink="/contact/{{contact.id}}">
      <p class="contact-name">
        {{contact.name | uppercase}}

      </p>
      <p class="contact-title">
        {{contact.company}}
      </p>
    </a>

      <div *ngIf="contact.tags !==''">
        <button *ngFor="let tag of contact.tags.split(',')" class="tag-item">
          {{mapTag[tag] ? mapTag[tag].name : tag}}
        </button>

      </div>

      <div class="tagv-btn">
        <button (click)="popupTag($event, contact)">
          TAGS V
        </button>
        <div class="tag-popup" *ngIf="currentContact === contact">
          <app-contact-tags [contact]="contact" [tags]="tags" (tagChanged)="onTagChange($event)"></app-contact-tags>
        </div>
      </div>
  </div>
</div>


