<div class="search-container">
  <input #searchBox id="search-box" class="search-box"
         (keyup)="search(searchBox.value)"
         placeholder="Search by Name, Company or #Tag"
  />

  <ul class="search-result" *ngIf="searchBox.value==='#'">
    <li *ngFor="let contact of tags$ | async" >
      <a routerLink="/detail/{{contact.id}}" (click)="searchByTag(tag)">
        {{contact.name}}
      </a>
    </li>
  </ul>
</div>
<br/>
<div>
  <app-contacts [contacts$]="contacts$"></app-contacts>
</div>
